<launch>
    <group ns = "service_template">
        <!-- client -->
        <node pkg="ros_template_programs" type="service_client_template" name="client" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
            <rosparam>
                a : 5
                b : 2
            </rosparam>
        </node>
        <!-- server -->
        <node pkg="ros_template_programs" type="service_server_template" name="server" launch-prefix="xterm -font r16 -fg floralwhite -bg darkslateblue -e">
        </node>
    </group>
</launch>
